<H1>RXJS</H1>
<div>
  <span>
    <ul>
      <li>
        <a routerLink="observables">observables</a>
      </li>
      <li>
        <a routerLink="subjects">subjects</a>
      </li>
      <li>
        <a routerLink="mess">Chat example using Subjects</a>
      </li>
      <li>
        <a routerLink="hot-and-cold-obs">Hot and Cold observables</a>
      </li>
      <li>
        <a routerLink="xcom">X component</a>
      </li>
      <li>
        <a routerLink="ycom">Y component</a>
      </li>
      <li>
        <a routerLink="opeartors">opeartors</a>
      </li>
      <li>
        <a routerLink="callback">Call Back Hell</a>
      </li>
      <li>
        <a routerLink="map">Map opeartors</a>
      </li>
      <li>
        <a routerLink="join">Merge vs ForkJoin</a>
      </li>
      <li>
        <a routerLink="sub">Subscription</a>
      </li>
    </ul>
  </span>
</div>

<router-outlet></router-outlet>