<p>opertors works!</p>

<!-- <input type="text" placeholder="search user by name" [formControl]="searchControl" />
<button id="search-button" #searchButton>search</button>

<div>
    <ul>
        <li *ngFor="let user of userList">{{user.name}}</li>
    </ul>
</div> -->

<!-- <form [formGroup]="lengthConvForm">
    <label>Input:</label>
    <input type="number" formControlName="inputNumber" placeholder="Enter a number" />
    <br />
    <label>Conversion:</label>
    <select formControlName="action">
        <option value="cm">m into cm</option>
        <option value="m">cm into m</option>
    </select>
    <br />
    <label>Output:</label>
    <input type="text" disabled formControlName="answer" />
</form> -->